@import "./defines";

body, html { margin:0; padding: 0; overflow:hidden; font-family:Arial; font-size:20px }
#cr-stage { border:2px solid black; margin:5px auto; color:white }

.miniMapSquare {
  width: 3px;
  height: 3px;
  display: block;
}
.keyText {
  position: absolute;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #B2DCEF;
}
img.spellImage {
  position: absolute;
  visibility: hidden;
}
div.nameText {
  line-height: 16px;
  text-align: left;
  position: absolute;
  z-index: 11000;
  color: #9D9D9D;
}
#canvasMiniMap {
  opacity: 0.5;
  position: absolute;
  z-index: 5000;
}
div.ichorMeter {
  width: 12px;
  height: 153px;
  z-index: 10000;
  position: absolute;
  background-color: #8492F4;
}
#divCharHealth {
  background-image: url("../../images/healthMeter.png");
  position: absolute;
  width: 96px;
  height: 32px;
  z-index: 11000;
}

div.charDialog {
  border: 2px solid black;
  border-radius: 12px;
}