@import "./defines";

.icon-pistol-0 {
  background-position: (1px*@tilesize*-21) (1px*@tilesize*-3);
}
.icon-pistol-1 {
  background-position: (1px*@tilesize*-22) (1px*@tilesize*-3);
}
.icon-pistol-2 {
  background-position: (1px*@tilesize*-23) (1px*@tilesize*-3);
}
.icon-knuckles-0 {
  background-position: (1px*@tilesize*-18) (1px*@tilesize*-3);
}
.icon-knuckles-1 {
  background-position: (1px*@tilesize*-19) (1px*@tilesize*-3);
}
.icon-knuckles-2 {
  background-position: (1px*@tilesize*-20) (1px*@tilesize*-3);
}
.icon-knife {
  background-position: (1px*@tilesize*0) (1px*@tilesize*-2);
}